.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  /* background-color: #e03c3c; */
  background-color: #fff;
  z-index: 20;
  margin-bottom: 30px;
}

.nav__wrapper {
  height: 70px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
}

.brand .container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.brand .toggle {
  display: none;
}

.nav__wrapper ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.nav__wrapper ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
  transition: 0.1s ease-in-out;
}

.nav__wrapper a:hover {
  color: var(--color-main);
}

.nav__wrapper ul li a.active {
  color: var(--color-main);
  text-shadow: 1px 0 0 var(--color-main);
}

.nav__wrapper button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  color: white;
  background-color: var(--color-main);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.nav__wrapper button:hover {
  background-color: #023e8a;
}
